
html, body {
  margin: 0;
  height: 100%;
}

#content {
  margin: 0 150px;
  padding: 75px;
  height: 100%;
  background-color: #c1956e;
  font-family: arial;

}

h1 {
  margin: 0;
  text-align: center;
}
